@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="text-align: left;">
        <p>Claims:</p>
        @{
            var claims = User.Claims;
            foreach (var  claim in claims) {
                <span><b>@claim.Type</b>: @claim.Value</span><br/>
            }
        }
    </div>
</div>
